html, body {
    
    background-color: crimson;
}


.menu{
    font-size: xx-large;
    font-style: italic;
}

.years{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
} 
.years {
    color: crimson;
    text-align: center;
    font-style: oblique;

}
.years img{
    border: solid white;
     margin: 30px;
     padding: 20px;
     background-image: linear-gradient(rgb(214, 10, 221),rgb(255, 0, 157));
   
 }

