* {
    /* color: #1e90ff; */
    /* background-color: #FAF3DD; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}


.header{
    /* background-color:blue; */
    display: flex;
    justify-content: space-between;
    padding:25px
}
.menu{
    font-size: xx-large;
    font-style: italic;
    
}

.images {
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dora{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.dora:hover img {
    opacity: 0.5;
}

.dora:hover {
    transform: scale(1.15);
}

.run{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.run:hover img {
    opacity: 0.5;
}

.run:hover {
    transform: scale(1.15);
}

.car{
    max-width: 800px;
    border: dashed;
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.car:hover img {
    opacity: 0.5;
}

.car:hover {
    transform: scale(1.15);
}

.music{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.music:hover img {
    opacity: 0.5;
}

.music:hover {
    transform: scale(1.15);
}

.shin{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.shin:hover img {
    opacity: 0.5;
}

.shin:hover {
    transform: scale(1.15);
}

.snake{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.snake:hover img {
    opacity: 0.5;
}

.snake:hover {
    transform: scale(1.15);
}

.draw{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.draw:hover img {
    opacity: 0.5;
}

.draw:hover {
    transform: scale(1.15);
}



.maze{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.maze:hover img {
    opacity: 0.5;
}

.maze:hover {
    transform: scale(1.15);
}

.trex{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.trex:hover img {
    opacity: 0.5;
}

.trex:hover {
    transform: scale(1.15);
}

.tic{
    max-width: 800px;
    border: dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color:blue;
}


.tic:hover img {
    opacity: 0.5;
}

.tic:hover {
    transform: scale(1.15);
}



.footer{
    display : flex;
    justify-content: flex-end;
}

  h1{
        text-align: center;
        margin-left: 30px;
        color : blue;
        padding: 25px;
        border: red
        
}

body{
    background: black;
    color: whitesmoke;
}

a:link{
    color: #3cb371;
}

a:visited{
    color: #3cb371;
}

img{
    box-shadow: 5px 5px 3px 1px #999
}

p{
    text-align: center;
    color: red
}
body{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/4c032e28008799.56e41b3bbd979.gif");
}
            